*{margin: 0px;padding: 0px;

}

.frame{
    background-image: url("../assest/znt.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height:100vh;
   
    position: relative;

  
}

.d-flex{
    display: flex;

}
.d-flex-center-column{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.frame-prd{
    width: 60%;
    height: 100%;
    background-color: rgb(70, 62, 62);
    animation: clr 5s both linear ;
}
.frame-txt{
    width: 40%;
    min-height: 100vh;
    background-color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 2rem;
    opacity: .8;
    color:white;
    h1{
        font-size: 41px;
        
        padding: 1rem;
    }
    p{
        width: 100%;
        text-align: justify;
        padding: 1rem;
        font-size: 24px;
    }
    div{
        width: 100%;
    }
}
ul{

    li{
        padding: .5rem;
        display:inline-block;
        opacity: .5;
        img{
            width: 30px;
            height: 30px;
           
        }
        &:hover{
            opacity: 1;
        }
    }
}
@keyframes clr
{
    20%{opacity: .2;}
    40%{opacity: .4;}    
    60%{opacity: .6;}
    80%{opacity: .8;} 
    100%{opacity: .9;}
 

}

@media (min-width:320px) and (max-width:375px) 
{
    *{
        margin: 0px;
        padding: 0px;
    }
    .frame{
        flex-direction: column;
        max-width: 100%;
        max-height: 100%;
    }    
    .frame-txt{
        width: 100%;
        padding: 0px;
        text-align: center;
        .div-txt{
            h1{font-size:24px;
            }
            p{
                font-size:14px;
                padding: 0px;
            }
        }
        .div-ul{
            display: flex;
            justify-content: center;
        }
    }
    .frame-prd{display: none;}
}

@media (min-width:375px) and (max-width:768px) 
{
    *{
        margin: 0px;
        padding: 0px;
    }
    .frame{
        flex-direction: column;
        max-width: 100%;
        max-height: 100%;
    }    
    .frame-txt{
        width: 100%;
        padding: 0px;
        text-align: center;
        .div-txt{
            h1{font-size:24px;
            }
            p{
                font-size:14px;
                padding: 0px;
            }
        }
        .div-ul{
            display: flex;
            justify-content: center;
        }
    }
    .frame-prd{display: none;}
}