*{
    margin:0px;
    padding:0px;
}
body{
    
    width: 100%;
    min-height:110vh;
    background-image: url(../assest/2222765.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
    animation:body-bright 2s both linear;
}
.d-flex{
    display:flex;
    flex-direction: column;
   align-items: center;
   justify-content: center;
}
.d-flex-row{
    display:flex;
 
   align-items: center;
   justify-content: center;
}
.f{
    height: 100vh;
   
    animation:f-bright 3s both linear;

}

.f-head{

    h1{
    font-size:60px;
    color:white;
    padding:1rem;

        }
        hr{
            width:40%;
            margin:1rem;
        }
}
.f-txt{

    padding:1rem;
    p{
        text-align:center;
        color:white;
        font-size:24px;
        width:40%
    }
}
.f-btn{
    padding:1rem;
    button{
        width:300px;
        padding:1.6rem;
        background-color: transparent;
        border-radius:.8rem;
        border:1px solid white;
        margin:1rem;
        font-size:30px;
        color:white;
        cursor:pointer;
    }
}
.social{
    width:100%;
    li{
        list-style-type: none;
        
        padding:1rem;
        a {
            img{
                width:24px;
                height:24px;
            }
        }
    }
}

@keyframes body-bright 
{
    0%{backdrop-filter:brightness(.02);}
 
    100%{backdrop-filter:brightness(.5);}    
}

@keyframes f-bright 
{
    1%{
       opacity:.001;
    }
    50%{opacity:.001;}
    100%{
      
        opacity:.9;
    }    
}